DEBUG=False
SECRET_KEY=your-secret-key-here
DATABASE_URL=postgres://user:password@localhost:5432/khamal
ALLOWED_HOSTS=example.com,www.example.com

# Docker Configuration
# Use 127.0.0.1 if running on the host, or 'docker-socket-proxy' if running inside a container.
DOCKER_URL=tcp://127.0.0.1:2375
